[tool.poetry]
name = "evfuncs"
version = "0.3.1"
description = "Functions for working with files created by the EvTAF program and the evsonganaly GUI"
authors = ["David Nicholson <nickledave@users.noreply.github.com>"]
license = "BSD"
classifiers = [
    'License :: OSI Approved :: BSD License',
    'Development Status :: 5 - Production/Stable',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.6',
    'Programming Language :: Python :: Implementation :: CPython',
]

[tool.poetry.dependencies]
python = "^3.6"
numpy = "^1.19.5"
scipy = ">=1.2.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
